# ======================================================
# ESSENTIAL EXTERNAL TOOLS FOR DEVELOPMENT
# ======================================================

# Install Core Python dependencies
-r requirements.txt

# Pre-commit hooks and linters
pre-commit
ruff

# Packaging tools
build
twine

# Editable install of *this* package
.

# Testing tools
pytest
pytest-asyncio
pytest-cov
