# ======================================================
# ESSENTIAL EXTERNAL TOOLS
# ======================================================

# Up-to-date package management tools
pip
setuptools
wheel

# YAML for manifest metadata
PyYAML

# Civic Interconnect libraries in pyproject.toml
# -e git+https://github.com/civic-interconnect/civic-lib-core.git@main#egg=civic-lib-core

# Data processing and analysis
pandas

# geopandas and related libraries for geospatial data handling
fiona
shapely
pyproj
rtree
geopandas

# exporting and importing GeoJSON data
topojson
