# .github/workflows/ci.yml
name: CI (Python)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    uses: civic-interconnect/.github/.github/workflows/ci-python.yml@main
